.hero {
  height: 100vh;
}

.link-underline:hover {
  cursor: pointer;
}

.nav-margin {
  margin-top: 4.5rem;
}

.tab-content,
.ag-grid-container {
  width: 100%;
}

@media (min-width: 768px) {
  .ag-grid-container {
    width: 50%;
  }

  .w-md-50 {
    width: 50% !important;
  }
}

@media (max-width: 600px) {
  .ag-paging-panel {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem;
  }
}

.table-filter {
  border-radius: 8px;
}

.table-filter::placeholder {
  color: white;
}
